:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 400px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 1em;
  gap: 1em;

  .title {
    font-weight: bold;
    font-size: large;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1em;

    .field {
      display: flex;
      flex-direction: column;

      .error-message {
        color: red;
      }

      .ng-invalid {
        &.ng-touched {
          border-color: red;
        }
      }

      textarea {
        resize: none;
      }
    }

    .actions {
      align-self: flex-end;
      display: flex;
      gap: 0.5em;
    }
  }
}
